@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
body{
  text-align: center;
  font-family: 'Manjari', sans-serif;
  background-color: #ffecf2;
}

button {
  background-color: gray;
  border: none;
  color: #ecf2ff;
  padding: 3px 10px;
  margin-left: 3px;
  cursor: pointer;
}

